body{
  padding: 0px;
  margin: 0px;
  background-color: black;
  height:100%;
}

/* navbar*/
.navigation {
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: fixed;
  opacity: .8;
  z-index: 1;
}
.navigation a {
  text-decoration: none;
  color: white;
  opacity: .85;
}
.navigation a:visited {
  color: white;
  opacity: .85;
}
.navigation a:hover{
  color: grey;
  border-bottom: solid 1px;
  padding-bottom: 1px;
}
.navigation li {
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0px 15px;
  color: white;
  opacity: .85;
}


/* header Gregory Chiu*/
.content-header {
  height: 800px;
  width: 100%;
  background-image: url(img/Background.jpeg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.content-header:hover {
  height: 800px;
  width: 100%;
  background-image: url(img/Background-color.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.content-header h1 {
  font-family: 'Londrina Sketch', cursive;
  color:white;
  font-size: 100px;
  letter-spacing: 4pt;
  margin-left: 50px;
  display: inline-block;
  margin-top: 325px;
  opacity: .7;
}

/* content*/
img {
  filter: grayscale(100%);
  width: 100%;
  height: 650px;
  margin-bottom: 10px;
}
img:hover {
  filter: grayscale(0%);
  width: 100%;
  height: 650px;
  margin-bottom: 10px;
}

/* soundcloud projects*/
iframe {
  filter: grayscale(100%);
}
iframe:hover {
  filter: grayscale(40%);
}
