body{
  padding: 0px;
  margin: 0px;
  background-color: black;
  height:100%;
  width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* navbar*/
.nav-container {
  height: 44px;
  text-align: center;
  background-color: black;
  opacity: .8;
}
.nav-container a:hover{
  color: grey;
}
.nav-container li {
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0px 12px;
  color: white;
  opacity: .85;
}


/* homepage Gregory Chiu*/
.content-header {
  height: 900px;
  width: 100%;
  background-image: url(img/Background.jpeg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.content-header:hover {
  height: 900px;
  width: 100%;
  background-image: url(img/Background-color.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.content-header h1 {
  font-family: 'Londrina Sketch', cursive;
  color:white;
  font-size: 120px;
  letter-spacing: 4pt;
  margin-left: 80px;
  display: inline-block;
  margin-top: 370px;
  opacity: .75;
}


/* body content*/
.sec1 {
    height: 200%;
    padding-top: 150px;
    text-align: center;
    background: black;
}

.sec2 {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: white;
}

.sec3 {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: black;
}
.sec4 {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: white;
}
.sec5 {
    height: 25%;
    padding-top: 150px;
    text-align: center;
    background: black;
}


img {
  filter: grayscale(100%);
  width: 100%;
  height: 650px;
  margin-bottom: 10px;
}
img:hover {
  filter: grayscale(0%);
  width: 100%;
  height: 650px;
  margin-bottom: 10px;
}

/* soundcloud projects*/
iframe {
  filter: grayscale(100%);
}
iframe:hover {
  filter: grayscale(40%);
}
